spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DATABASE:imdb}?sslMode=REQUIRED&useUnicode=true&characterEncoding=UTF-8&createDatabaseIfNotExist=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  flyway:
    enabled: true
    validate-on-migrate: true
  sql:
    init:
      mode: always
  jpa:
    show_sql: true
    open-in-view: false
    generate-ddl: false
    properties:
      javax:
        persistence:
          validation:
            mode: none
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

cloudinary:
  cloud:
    name: ${CLOUD_NAME:da0vsli58}
  api:
    key: ${KEY:572576397362646}
    secret: ${SECRET:p8y74iFVm0OyQ3XNgigeeSs-Y4w}
